version: '3.8'

services:
  server:
    build: .
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
      - DB=mongodb://mongo:27017/markethub
    depends_on:
      - mongo
    restart: always

  mongo:
    image: mongo:7.0
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    restart: always

volumes:
  mongo-data:
